@import "tailwindcss";

@theme {
  --color-edu-sky: #C3EBFA;
  --color-edu-sky-light: #EDF9FD;
  --color-edu-purple: #CFCEFF;
  --color-edu-purple-light: #F1F0FF;
  --color-edu-yellow: #FAE27C;
  --color-edu-yellow-light: #FEFCE8;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--now {
  background-color:  #C3EBFA !important;
  color: black !important;
}